

.header {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}
.cat-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 19%;
}

.cat-image {
    width: 200px;
}

.lotr-image {
    width: 180px;
}
.text {
    font-size: 20px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .cat-page {
        display: flex;
        flex-direction: column;
    }
}